<div class="page-header">
  <%= link_to new_cargosnd_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Cargosnd
  <% end %>
  <h1>Listado de cargosnds</h1>
</div>

<div class="table-responsive">
  <table id="tabla-cargosnd" class="table table-striped table-bordered table-hover" data-source = "<%= cargosnds_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Cargo agrup</th>
            <th>Cargo cod</th>
            <th>Cargo categ</th>
            <th>Nivel</th>
            <th>Cargo desc</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-cargosnd').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-cargosnd').data('source'),
        pagingType: "simple",
      });
    });
</script>