<div class="page-header">
  <%= link_to new_primaria_cargo_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Primaria cargo
  <% end %>
  <h1>Listado de primaria_cargos</h1>
</div>

<div class="table-responsive">
  <table id="tabla-primaria_cargo" class="table table-striped table-bordered table-hover" data-source = "<%= primaria_cargos_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Descripcion</th>
            <th>Codigo nomen</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-primaria_cargo').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-primaria_cargo').data('source'),
        pagingType: "simple",
      });
    });
</script>