<% if can? :show_nav, Inscripcion %>
  <nav class="nav">
	  <%= link_to "Inscripciones", inscripcions_path %> / 
	  <%= link_to "DNI (#{@inscripcion.persona.nro_documento})", docenteInscripcion_path(@inscripcion.persona.id) %>
	  <a class="nav-link disabled" href="#">/ Editando Confirmacion </a>
	</nav>
<% end %>

<div class="page-header">
  <h1>Editando Confirmacion de Inscripcion Docente</h1>
</div>
<%= render 'formrubrotitular' %>
<%= render 'form' %>
