 <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/datatables.min.js"></script>
<div class="page-header">
  <div class="hidden-print">
    <div class="form-group">
      <label align="Left">(para la prueba use el DNI: 27775562) <label>
      <input placeholder="Ingrese DNI."class="text_field" id="input_buscar_persona"></input>
      <button id="buscar" type="button" class="btn btn-primary btn-sm">Nueva Inscripcion</button>
    </div>      
  </div>
  <h1>Listado de inscripciones</h1>
</div>

<div class="table-responsive">
  <table id="tabla-inscripcion" class="table table-striped table-bordered table-hover" data-source = "<%= inscripcions_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Fecha inscripcion</th> 
            <th>Region</th>
            <th>Cabecera</th>
            <th>Persona</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    
  $(document).ready(function($) {

    var table = $('#tabla-inscripcion').DataTable({
      language : {"sUrl": "<%= asset_path('language.es.json') %>",},
      processing : true,
      serverSide : true,
      ajax : $('#tabla-inscripcion').data('source'),
      pagingType: "simple",
      orderCellsTop: true,
      fixedHeader: true,   
      dom: 'Bf',
      paginate: true,
      buttons: [
        {
          extend: 'excel',
          exportOptions: {
              columns: 'th:not(:last-child)', // exclude action column                    
          },
          text:'<span class="pull-right glyphicon glyphicon-export">Excel</span>'
        }
      ]
    });

    // Filtros por columna
    $('#tabla-inscripcion thead tr').clone(true).appendTo( '#tabla-inscripcion thead' );
    $('#tabla-inscripcion thead tr:eq(1) th').each( function (i) {
      if ( [0, 3, 4].includes(i) ) { $(this).html(""); return; }; //exclude colujmns
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        $( 'input', this ).on( 'keyup change', function () {
          if ( table.column(i).search() !== this.value ) {
            table
              .column(i)
              .search( this.value )
              .draw();
          }
        });
    });
    
    $( "#buscar" ).bind("propertychange click input paste",function(){
      var dni = parseInt($("#input_buscar_persona").val(),10);
      $.ajax({
        url: '/soft/snpe/inscripcions/buscar_persona/'+dni,
        type: 'GET',
      })
        .done(function(data) {
          if (data != null) {
            open('/soft/snpe/docenteInscripcion/'+data.id);
          }
          else{
            alert("No se puede completar la operacion");
            $('#input_buscar_persona').text("");
          }
        })
      });

  });
</script>