<div class="page-header">
  <div class="hidden-print">
    <div class="form-group">
      <label align="Left">(para la prueba use el DNI: 27775562) <label>
      <input placeholder="Ingrese DNI."class="text_field" id="input_buscar_persona"></input>
      <button id="buscar" type="button" class="btn btn-primary btn-sm">Nueva Inscripcion</button>
    </div>      
  </div>
  <h1>Listado de inscripciones</h1>
</div>

<div class="table-responsive">
  <table id="tabla-inscripcion" class="table table-striped table-bordered table-hover" data-source = "<%= inscripcions_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Fecha inscripcion</th> 
            <th>Region</th>
            <th>Cabecera</th>
            <th>Persona</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-inscripcion').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-inscripcion').data('source'),
        pagingType: "simple",
      });
    
     $( "#buscar" ).bind("propertychange click input paste",function(){ 
      //$("#buscar" ).change(function() {
        var dni = parseInt($("#input_buscar_persona").val(),10);
        $.ajax({
          url: '/soft/snpe/inscripcions/buscar_persona/'+dni,
          type: 'GET',
        })
        .done(function(data) {
          if (data != null) {
            open('/soft/snpe/docenteInscripcion/'+data.id);
          }
          else{
            alert("No se puede completar la operacion");
            $('#input_buscar_persona').text("");
          }
        })
      });
    });
</script>