<% @persona = @inscripcion.persona %>
<% inscripcion = @persona.inscripcions.first %>

<h4> <strong> <ins> COMPROBANTE DE INSCRIPCION </ins> </strong> </h4>
<br>
<p>Estimado, </p>
<p style="text-indent: 5em"> Hemos confirmado tu inscripcion al Concurso de Ingreso en el Primer Grado del Escalafon Docente.</p>
<br>

<p>LAS FECHAS DE LOS ACTOS PUBLICOS POR REGION SERAN PUBLICADAS EN LA PAGINA WEB DEL MINISTERIO DE EDUCACION http://www.chubut.edu.ar/</p>