<div class="page-header">
  <h1><font align="center" face="arial" size="6" color="#1b85c3"> Nueva Inscripción Docente</font> </h1>
  <hr style="height:2px;border-width:0;color:red;background-color:#7b9eb2" />
  <center>
  <font align="center" face="arial" size="5" color="#1b85c3"> Datos personales del docente</font>
  </center > 
</div>
<%= render 'form' %>

