<%= f.collection_select(:motivo_baja, @motivo_baja, :id, :descripcion, {:prompt => "Motivo de baja"}, :id => "motivo_baja",:data =>{:toggle=>"tooltip", :placement=>"top"},:title=>"Motivo de baja", :class=>"form-control form-alta form-select")%>