<div class="page-header">
  <%= link_to new_rubro_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Rubro
  <% end %>
  <h1>Listado de rubros</h1>
</div>

<div class="table-responsive">
  <table id="tabla-rubro" class="table table-striped table-bordered table-hover" data-source = "<%= rubros_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Persona</th>
            <th>Nombre y Apellido</th>
            <th>RI (Rubro titulo)</th>
            <th>RII (Rubro Promedio)</th>
            <th>RIII (Ant doc- Ant Titulo)</th>
            <th>RIV (Rubro gestion)</th>
            <th>RV (Rubro servicios prestados)</th>
            <th>RVII (Rubro residencia)</th>
            <th>RIX (Rubro cursos)</th>
            <th>RXI (Rubro concepto - capacitaciones)</th>
            <th>Total</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-rubro').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-rubro').data('source'),
        pagingType: "simple",
      });
    });
</script>