<div class="page-header">
  <%= link_to new_motivo_baja_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Motivo baja
  <% end %>
  <h1>Listado de motivo_bajas</h1>
</div>

<div class="table-responsive">
  <table id="tabla-motivo_baja" class="table table-striped table-bordered table-hover" data-source = "<%= motivo_bajas_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Nro motivo</th>
            <th>Motivo</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-motivo_baja').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-motivo_baja').data('source'),
        pagingType: "simple",
      });
    });
</script>