<div class="page-header">
  <%= link_to new_establecimiento_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Establecimiento
  <% end %>
  <h1>Listado de establecimientos</h1>
</div>

<div class="table-responsive">
  <table id="tabla-establecimiento" class="table table-striped table-bordered table-hover" data-source = "<%= establecimientos_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Codigo jurisdiccional</th>
            <th>Cue</th>
            <th>Anexo</th>
            <th>Cue anexo</th>
            <th>Sector</th>
            <th>Ambito</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th>Domicilio</th>
            <th>Responsable</th>
            <th>Tipo</th>
            <th>Zona</th>
            <th>Cuise</th>
            <th>Alta</th>
            <th>Baja</th>
            <th>Dependencia</th>
            <th>Email</th>
            <th>Isotipo</th>
            <th>Nivel</th>
            <th>Ift</th>
            <th>Numero</th>
            <th>Privada</th>
            <th>Rght</th>
            <th>Sistema</th>
            <th>Organizacion</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-establecimiento').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-establecimiento').data('source'),
        pagingType: "simple",
      });
    });
</script>