<div class="page-header">
  <%= link_to new_traslado_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Traslado
  <% end %>
  <h1>Listado de traslados</h1>
</div>

<div class="table-responsive">
  <table id="tabla-traslado" class="table table-striped table-bordered table-hover" data-source = "<#= traslados_path(format: :json) #>" >
    <thead>
      <tr>
            <th>Alta baja hora</th>
            <th>Cargo</th>
            <th>Cargo no docente</th>
            <th>Fecha cambio oficina</th>
            <th>User</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-traslado').dataTable({
        language : {"sUrl": "<#= asset_path('language.es.json') #>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-traslado').data('source'),
        pagingType: "simple",
      });
    });
</script>