<div class="page-header">
  <%= link_to new_user_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Usuario
  <% end %>
</div>

<h1>Listado de usuarios</h1>

<div class="table-responsive">
  <table id="tabla-articulo" class="table table-striped table-bordered table-hover" data-source = "<%= users_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Último Ingreso</th>
            <th class="text-center col-md-1">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-articulo').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-articulo').data('source'),
        pagingType: "simple",
        columnDefs: [
            {
                "targets": [ 4 ],
                "searchable": false,
                "orderable": false
            }
        ]
      });
    });
</script>
