<% @altas_bajas_hora = AltasBajasHora.new %>
<%= render 'form_altas', altas_bajas_hora: @altas_bajas_hora %>

<div class="page-header">
  <%= link_to new_altas_bajas_hora_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Altas bajas hora
  <% end %>
  <h1>Listado de altas_bajas_horas</h1>
</div>

<div class="table-responsive">
  <table id="tabla-altas_bajas_hora" class="table table-striped table-bordered table-hover" data-source = "<%= altas_bajas_horas_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Establecimiento</th>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>CUIL</th>
            <th>Situacion revista</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-altas_bajas_hora').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-altas_bajas_hora').data('source'),
        pagingType: "simple",
      });
    });
</script>