

  <div class="page-header">
      <h1>Migrar</h1>
    </div>


  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> Migrar horas</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton2" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> Migrar cargos docentes</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton3" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> Migrar auxiliares</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton4" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> LIMPIAR BASE HORAS</span></button>
      </div>
  </form>

    <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton6" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> LIMPIAR BASE CARGOS</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton7" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> LIMPIAR CARGOS REPETIDOS</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton8" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> LIMPIAR CARGOS sin secuencia para limpiar</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <button type="button" id="boton9" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"> LIMPIAR BASE DE NO DOCENTES </span></button>
      </div>
  </form>



<script type="text/javascript">

  $( document ).ready(function() {
  
  $( "#boton" ).click( function() {

  var esc = parseInt($( "#esc" ).val());
  
  window.location = "/soft/snpe/migracion/migrar_hs/";

});


  $( "#boton9" ).click( function() {

  var esc = parseInt($( "#esc" ).val());
  
  window.location = "/soft/snpe/migracion/migracion_bajas_cargos_no_docentes/";

});
  

  $( "#boton6" ).click( function() {

  var esc = parseInt($( "#esc" ).val());
  
  window.location = "/soft/snpe/migracion/migracion_bajas_cargos/";

});

$( "#boton8" ).click( function() {

  var esc = parseInt($( "#esc" ).val());
  
  window.location = "/soft/snpe/migracion/migracion_bajas_cargos_sin_secuencia/";

});



  

  $( "#boton7" ).click( function() {

  var esc = parseInt($( "#esc" ).val());
  
  window.location = "/soft/snpe/migracion/eliminar_cargos_repetidos/";

});




  

$( "#boton4" ).click( function() {

  var esc = parseInt($( "#esc3" ).val());

  window.location = '/soft/snpe/migracion/migracion_bajas/';

});

  $( "#boton5" ).click( function() {

   var esc = parseInt($( "#esc8" ).val());
  window.location = "/soft/snpe/migracion/pofs/"+esc;

});

  $( "#boton3" ).click( function() {

  var esc = parseInt($( "#esc3" ).val());

  window.location = '/soft/snpe/migracion/migrar_auxiliares/';

});

  $( "#boton2" ).click( function() {

  var esc = parseInt($( "#esc2" ).val());


   window.location = '/soft/snpe/migracion/migrar_cargos/';

});
  });
</script>