

  <div class="page-header">
      <h1>Migrar</h1>
    </div>


   <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Ingrese Escuela</label>
          <input class="text_field" id="esc"></input>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="boton" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"> Migrar horas</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Ingrese Escuela</label>
          <input class="text_field" id="esc2"></input>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="boton2" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"> Migrar cargos docentes</span></button>
      </div>
  </form>

  <form action="" method="GET" class="form-horizontal" role="form">
      <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Ingrese Escuela</label>
          <input class="text_field" id="esc3"></input>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="boton3" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"> Migrar auxiliares</span></button>
      </div>
  </form>



<script type="text/javascript">

  $( document ).ready(function() {
  
  $( "#boton" ).click( function() {

  var esc = parseInt($( "#esc" ).val());
  
  window.location = "/soft/snpe/migracion/migrar_hs/"+ esc;

});

  $( "#boton3" ).click( function() {

  var esc = parseInt($( "#esc3" ).val());

  window.location = '/soft/snpe/migracion/migrar_auxiliares/'+esc;

});

  $( "#boton2" ).click( function() {

  var esc = parseInt($( "#esc2" ).val());


   window.location = '/soft/snpe/migracion/migrar_cargos/'+esc;

});
  });
</script>