<div class="page-header">
  <h1>cargos_especial</h1>
</div>

<dl class="dl-horizontal">
  <dt>Descripcion:</dt>
  <dd><%= @cargos_especial.descripcion %></dd>

  <br/><br/>
  <%= link_to cargos_especials_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_cargos_especial_path(@cargos_especial), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to cargos_especial_path(@cargos_especial), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
