<div class="page-header">
  <%= link_to new_tipo_documento_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Tipo documento
  <% end %>
  <h1>Listado de tipos de documentos</h1>
</div>

<div class="table-responsive">
  <table id="tabla-tipo_documento" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th class="text-center col-md-1">Acciones</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-tipo_documento').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-tipo_documento').data('source'),
        pagingType: "simple",
      });
    });
</script>