<h1><center>Concurso de ingreso en el primer grado del escalafon docente chubut</center></h1>
<h4><center><strong>Departamento Central de Clasificacion Docente Nivel Primario e Iniciar</strong></center></h4>
<h3><center><strong>MINISTERIO DE EDUCACION</strong></center></h3>
<br><br>
<h4><center>Bienvenido a la confirmacion de inscripcion para participar en el Concurso de ingreso en el primer grado de escalafon docente</center></h4>
<br>
<h4><center>Usted podra inscribirse si figura en los listados de interinatos y suplencias 2019 (sin cargo y con alcance 9 docente) emitidos por las Juntas Regionales de la Provincia</center></h4>
<br>
<h4><center>Ante cualquier duda o inconveniente debera dirigirse a la Junta Regional donde posea Legajo Activo</center></h4>