<div class="row">
<div class="col-md-8">
    <img src="<%= asset_path '/assets/Bienvenida.jpg' %>" width="100%">
  </div>
	
</div>
<div class="row">

	<% if current_user.get_persona.esta_en_el_padron %>
		<%= link_to "Confirmación a Concurso de Ingreso", docenteInscripcion_path(id: current_user.get_persona.id), :class => 'btn btn-lg btn-primary' %> 
	<% end %>
</div>
