<br><br><br>
<h2><center>CONCURSO DE INGRESO EN EL PRIMER GRADO DEL ESCALAFÓN DOCENTE CHUBUT</center></h2>
<h4><center><strong>Departamento Central de Clasificación Docente Nivel Primario e Inicial</strong></center></h4>
<h3><center><strong>MINISTERIO DE EDUCACION</strong></center></h3>
<br><br>
<h4><center>Bienvenido a la confirmación para participar en el Concurso de Ingreso en el Primer Grado del Escalafón Docente.</center></h4>
<br>
<h4><center>Usted podrá crear su usuario solo si figura en los Listados de Interinatos y Suplencias 2019 (sin cargo y con alcance 9 docente) emitidos por las Juntas Regionales de la Provincia.</center></h4>
<br>
<h4><center>Ante cualquier duda o inconveniente deberá dirigirse a la Junta Regional donde posea Legajo Activo.</center></h4>
