<div class="page-header">
  <%= link_to new_materium_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Materia
  <% end %>
  <h1>Listado de materias</h1>
</div>

<div class="table-responsive">
  <table id="tabla-materium" class="table table-striped table-bordered table-hover" data-source = "<%= materia_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-materium').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-materium').data('source'),
        pagingType: "simple",
      });
    });
</script>