<div class="page-header">
  <h1>Materia</h1>
</div>

<dl class="dl-horizontal">
  <dt>Código:</dt>
  <dd><%= @materium.codigo %></dd>

  <dt>Descripción:</dt>
  <dd><%= @materium.descripcion %></dd>

  <br/><br/>
  <%= link_to materia_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_materium_path(@materium), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</dl>
