<div class="page-header">
  <%= link_to new_ambito_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Ambito
  <% end %>
  <h1>Listado de ambitos</h1>
</div>

<div class="table-responsive">
  <table id="tabla-ambito" class="table table-striped table-bordered table-hover" data-source = "<#= ambitos_path(format: :json) #>" >
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Inscripcion</th>
            <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-ambito').dataTable({
        language : {"sUrl": "<#= asset_path('language.es.json') #>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-ambito').data('source'),
        pagingType: "simple",
      });
    });
</script>