<div class="page-header">
  <%= link_to new_asistencium_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Asistencium
  <% end %>
  <h1>Listado de asistencia</h1>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Personal activo
    </h3>
  </div>
  <div class="panel-body">
  <div class="table-responsive">
    <table id="tabla-personal" class="table table-striped table-bordered table-hover" data-source = "<%= asistencia_index_personal_activo_path(format: :json) %>" >
      <thead>
        <tr>
          <th>DNI</th>
          <th>Apellido</th>
          <th>Curso</th>
          <th>Materia</th>
          <th>Justificada</th>
          <th>Injustificada</th>
          <th>Justificada</th>
          <th>Injustificada</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-personal').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-personal').data('source'),
        pagingType: "simple",
      });
    });
</script>
