/*
 *= require dataTables/extras/dataTables.responsive
 *= require_self
 *= require bootstrap_and_overrides
 *= require tables
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require jquery-ui-timepicker-addon
 *= require jquery-ui/ui-lightness
 *= require base
 *= require select2
 *= require jquery-ui/cupertino
 *= require migracion.css
*/

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.tabla-reportes{
  width: 100%;
  border: solid 1px;
}

.tabla-reportes th, .tabla-reportes td {
    border: solid 1px;
    padding: 15px;
    text-align: left;
}


.tabla-reportes th {
    background-image: linear-gradient(to bottom, #194981 0%, #53a0e0 100%);
    color: white;
}

/* ------------------------Filtros-------------------------------- */
.tabla-filtros{
  width: 100%;  
}
.tabla-filtros td, .tabla-filtros th {
  padding: 5px;
  border: solid 1px;
  text-align: center;
}
.tabla-filtros tr {
  border: solid 1px; 
}
/* -------------------------------------------------------- */
.btn-filtro{
  width: 100%;
}


tr {page-break-inside: avoid;}
thead{display: table-header-group;}

