/*
 *= require_self
 *= require bootstrap_and_overrides
 *= require tables
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require jquery-ui-timepicker-addon
 *= require jquery-ui/ui-lightness
 *= require base
 *= require select2
 *= require jquery-ui/cupertino
*/

.form-snpe{
    margin-left: 15px;
}


.form-alta{
    width: 108px !important;
    float:left;
    padding: 1px 2px !important;
    margin:2px 1px !important;
    text-align: center;
}

.form-select{
    min-height: 34px !important;
    
}

.form-fecha{
    max-width: 100px;
}

#select_tipo_documento{
    max-width: 56px;
}

#input_dni{
    max-width: 100px;
}


#input_cuil{
    max-width: 105px;
}



#secuencia, #division, #horas, #ciclo-carrera, #curso{
    max-width: 38px;
}

#sit-revista {
    max-width: 55px;
}

#horas {
    
}

#ciclo-carrera {
       
}

#curso{
    
}

#turno{
    max-width: 65px;
}

#division{
    
}

#codificacion{
    max-width: 55px;
}

#oblig{
    max-width: 55px;
}

#observaciones{
    max-width: 888px;
    min-width: 788px;
    float:left;
    padding: 1px 2px !important;
    margin:2px 1px !important;
    text-align: center;
    height: 43px;
}

#btn-guardar{
    margin:2px 1px !important;
    height: 43px;
    float:left;
}

