/*********************/
/*Etiquetas ex Lupe.css*/
.label {
	font-size: 13px;
}

/*********************/
/*ALERTS DE BOOSTRAP*/
.alert-celeste {
  color: #70C0AA;
  background-color: #EEFBF7;
  border-color: #D3F2EA;
}

/*********************/
/*EX Applicattion.css*/
body { 
  padding-top: 60px; 
  padding-bottom: 55px;
}

.logo {
  margin-top: 25px;
}
.title{
  margin-top: 140px;
}

.button-menu{
  min-height: 200px;
}

.margin-top{
  margin-top: 15px;
}

.form-snpe{
  margin-left: 15px;
}


.form-control
{

}

.form-apeynom{
  width: 300px;
  padding: 1px 2px !important;
  float:left;
  margin:2px 1px !important;
  text-align: center;
  font-size: 10px;

}

.form-alta{
  width: 137px;
  padding: 1px 2px !important;
  float:left;
  margin:2px 1px !important;
  text-align: center;
  font-size: 12px;
}

.form-select{
  min-height: 34px !important;    
}

.form-fecha{
  max-width: 85px;

}

#select_tipo_documento{
  max-width: 56px;
}



#input_dni{
  max-width: 100px;
}


#input_cuil{
  max-width: 100px;
}


#input_apellidos{
  max-width: 170px;
}


#ciclo-carrera{
  max-width: 56px;
}

#secuencia, #division, #horas, #curso{
  max-width: 38px;
}

#sit-revista{
  max-width: 66px;
}

#movilidad{
  max-width: 80px;
}

#empresa{
  max-width: 78px;
}

#horas {
    
}

#ciclo-carrera {
       
}

#curso{
    max-width: 75px;
    width: 75px;
}

#turno{
    max-width: 65px;
}

#division{
    
}

#plan{
    max-width: 350px;
    width: 350px;
}

#materium{
    max-width: 350px;
    width: 350px;
}

#oblig{
    max-width: 38px;
}

#observaciones{
  max-width: 800px;
  min-width: 498px;
  float:left;
  padding: 1px 2px !important;
  margin:2px 1px !important;
  text-align: center;
  height: 43px;
}

#observaciones-edit{
  max-width: 745px;
  min-width: 745px;
  float:left;
  padding: 1px 2px !important;
  margin:2px 1px !important;
  text-align: center;
  height: 43px;
}

#observaciones-cargos{
  max-width: 632px;
  min-width: 232px;
  float:left;
  padding: 1px 2px !important;
  margin:2px 1px !important;
  text-align: center;
  height: 43px;
}


#btn-guardar{
  margin:2px 1px !important;
  height: 43px;
  float:left;
}

#btn-guardar-edit{
  margin:2px 1px !important;
  width:80px;
  height: 43px;
  float:left;
}

#btn-cancelar-edit{
  margin:2px 1px !important;
  width:80px;
  height: 43px;
  float:left;
  padding-top: 10px;
}

#cargo{
  width: 400px;
}


/*PERFIL CSS*/

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  max-width: 95px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 10px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: capitalize;
  color: #19629F;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 10px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.footer{
    height: 51px;
    color: white;
}

.footer a{
    color:white;
}

.footer-text{
    margin-top: 15px;

}

.btn-acciones > .btn{
  margin: 0.5px;
}

@media(max-width:1366px){
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 2px;
    font-size: 12px;
    text-align: center;
  }
    
  .btn-acciones > .btn{
    width: 22px;
    height: 22px;
    padding: 2px 2px;
  }
}

@media(max-width:1000px){
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 1px;
    font-size: 11px;
    text-align: center;
  }
    
  .btn-acciones > .btn{
    width: 20px;
    height: 20px;
    padding: 1px 1px;
  }
}

@media(max-width:768px){
  .btn-acciones > .btn{
    width: 18px;
    height: 18px;
    padding: 1px 1px;
  }
}


.dropdown-menu{
 
}
.dropdown-submenu{
  position:relative;
}

.dropdown-submenu>.dropdown-menu{
  top:0;left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu{
  display:block;
}

.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.table > thead:first-child > tr:first-child > th {
  font-size: small;
  padding: 2px 4px;
}



/*LOGIN CSS*/

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden ;
  background-color:rgb(250,250,255);
  margin-left: -165px;
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-login{
  margin-bottom: 10px;
}


@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

.account-wall
{
    margin: 20px 5px;
    padding: 25px 5px 5px 5px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
    margin:0px 0px 5px 0px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{

    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.form-carga-efecto {
  border:1px solid #999;
  border-radius:8px;
  box-shadow:0 0 10px #999;
  padding: 10px;
}

.form-carga-efecto-alta {    
  max-width: 1120px;  
}

.form-carga-efecto-cargos {    
  max-width: 1050px;
}

.modal-header{
  text-align: center;
}

.centrar-todo { 
  text-align:center;
  vertical-align:middle;
}

.vcenter {
  display: flex;
  align-items: center;
}

.cargando {
   position: fixed;
   top: 50%;
   left: 50%;
}
