<p>Bienvenido al concurso docente 2018. Miniserio de Educación del Chubut. <%= @email %>!</p>

<p>Ud. puede confirmar su cuenta a travez del siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>

