<div class="page-header">
  <h1>Cargo Junta</h1>
</div>

<dl class="dl-horizontal">
  <dt>Descripcion:</dt>
  <dd><%= @juntafuncion.descripcion %></dd>

  <br/><br/>
  <%= link_to juntafuncions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_juntafuncion_path(@juntafuncion), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <%= link_to juntafuncion_path(@juntafuncion), method: :delete, data: { confirm: '¿Seguro desea eliminar?' }, :class => 'btn btn-danger' do%>
    <span class="glyphicon glyphicon-trash"></span>
    Eliminar
  <% end %>
</dl>
