<div class="page-header">
  <%= link_to new_situacion_revistum_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Situación de Revista
  <% end %>
  <h1>Listado de Situaciones de Revista</h1>
</div>

<div class="table-responsive">
  <table id="tabla-situacion_revistum" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th class="text-center col-md-1">Acciones</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-situacion_revistum').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-situacion_revistum').data('source'),
        pagingType: "simple",
      });
    });
</script>