<div class="page-header">
  <%= link_to new_despliegue_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Despliegue
  <% end %>
  <h1>Listado de despliegues</h1>
</div>

<div class="table-responsive">
  <table id="tabla-despliegue" class="table table-striped table-bordered table-hover" data-source = "<%= despliegues_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Año</th>
            <th>Plan</th>
            <th>Materia</th>
            <th>Carga horaria</th>
            <th>Cant. Docentes</th>
            <th>Observación</th>
            <th class="text-center col-md-1">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-despliegue').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-despliegue').data('source'),
        pagingType: "simple",
      });
    });
</script>
