<footer class="footer navbar-fixed-bottom navbar-default text-center">
    <div class="footer-text">
      Sistema desarrollado por  RECURSOS TECONOLÓGICOS - 	Ministerio de Educación de la Provincia del Chubut - 
      <%=link_to  image_tag("facebook_white.png"), "https://www.facebook.com/educacionchubut"%>
  		<%=link_to  image_tag("twitter_white.png"), "https://twitter.com/EducacionChubut"%>
    	<%=link_to  image_tag("youtube_white.png"), "https://www.youtube.com/channel/UCYoR0m821a-sajn-l7Lq9Uw"%>
    </div>
</footer>