<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <title>PDF</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
</head>


<body style=" padding:10px; margin-bottom:150px;">

  <div id="header" class="col-md-12" style="margin-bottom:20px;">
    <%= render :partial => "layouts/header_pdf" %>  
  </div>

  <div style="min-height:600px;" class="container">
    <%= yield %>
  </div>

  <div style="border-top:2px solid #666" id="footer" class="col-md-12">
    <%= render :partial => "layouts/footer_pdf" %>  
  </div>
</body>