<div class="page-header">
  <%= link_to new_articulo_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Artículo
  <% end %>
  <h1>Listado de artículos</h1>
</div>

<div class="table-responsive">
  <table id="tabla-articulo" class="table table-striped table-bordered table-hover" data-source = "<%= articulos_path(format: :json) %>" >
    <thead>
      <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Cantidad máxima dias</th>
            <th>Con goce</th>
            <th>Tipo de artículo</th>
            <th class="text-center col-md-1">Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
    $(document).ready(function($) {
      $('#tabla-articulo').dataTable({
        language : {"sUrl": "<%= asset_path('language.es.json') %>",},
        processing : true,
        serverSide : true,
        ajax : $('#tabla-articulo').data('source'),
        pagingType: "simple",
        columnDefs: [
            {
                "targets": [ 4 ],
                "searchable": false,
                "orderable": false
            }
        ]
      });
    });
</script>